{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='{% static "core/css/style.css" %}'>
</head>
<body>
    <h1>Mi perfil</h1>
    <div class="row">
        <h2>Datos personales</h2>
    </div>
    <div class="row">
        <table border="1">
            <thead>
                <tr>
                    <td>Rut</td>
                    <td>Nombre</td>
                    <td>Correo</td>
                    <td>Contraseña</td>
                    <td>Telefono</td>
                    <td>Opciones</td>
                </tr>
            </thead>
            <tbody>
                {% for dc in datosCliente %}
                <tr>
                    <td>{{dc.idRut}}</td>
                    <td>{{dc.nombre}}</td>
                    <td>{{dc.correo}}</td>
                    <td>{{dc.contraseña}}</td>
                    <td>{{dc.telefono}}</td>
                    <td><a href="{% url 'mod_perfil' dc.idRut %}">Modificar</a></td>
                    <td><a href="{% url 'eliminar_perfil' dc.idRut %}">Eliminar</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <a href="registro.html">Registro</a>
</body>
</html>
